
    <div class ="row">
        <div class ="col">
            <!-- sample burger entry -->
            <div class="btn-toolbar mb-3">
                <div class="input-group-text" id="btnGroupAddon">Cheese Burger</div>
                <div>
                <button type="button" class="btn btn-secondary">devour</button>
                </div>
            </div>
        </div>
    </div>