
    <div class ="row">
        <div class ="col-md-6">
            <!-- available -->
            {{#each available}}
            <div  class= "row btn-toolbar mb-3">
                <div class="input-group-text" id="btnGroupAddon">{{burger_name}}</div>
                <div>
                <a href = "/devour/{{id}}" class="btn btn-secondary">Devour-It!</a>
                </div>
            </div>
        
        {{/each}}
        </div>
    
        <div class ="col-md-6">
            {{!-- devoured burgers --}}
            {{#each devoured}}
            <div class="row alert alert-secondary">
                {{burger_name}}
            </div>   
            {{/each}} 
        </div>
    </div>