.form-control{
    width:50%;
}


.burgershake{
    width: 100px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.burger-alert{
    width:75%;
    height: 45px;
}

.burgerOutput{
    width:75%;
}

